{% extends 'base.html' %}

{% block title %}
All Songs
{% endblock %} 

{% block body %}

<div class= "container">

    <div class ="row">
        <div class ="col-md-6" style="padding-top:3%">
            <img src="/media/{{song.image}}" height="250px" width="350px">    
        </div>
        <div class="col-md-6">
            <h2 style="padding-top:6%; font-weight:550; color:green" >Title: {{song.name}}</h2>
            <h4 style="padding-top:2%">Category: {{song.tags}}</h4>
            <h4 style="padding-top:2%">Movie: {{song.movie}}</h4>
            <h4 style="padding-top:2%">Singer: {{song.singer}}</h4>
            {% comment %} <embed src ="/media/{{song.song}}" type=""> {% endcomment %}
            <audio controls style="padding-top:2%">
                <source src="/media/{{song.song}}" type"audio/mp3">
            </audio>
            <div style="padding-top:2%">
                <a href="/media/{{song.song}}"><button class="btn btn-outline-danger">Download</button>
            </div>
        </div>

    </div>

</div>

{% endblock body %} 